 <?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="au" version="2022.10.24"/>
	<package id="winscp" version="5.21.7"/>
	<package id="keepassxc" version="2.7.4"/>
	<package id="cpu-z" version="2.5.0.20230314"/>
	<package id="kitty" version="0.76.1.5"/>
	<package id="jdownloader" version="2.0.0.2023"/>
	<package id="vscode" version="1.77.1"/>
</packages>